.card1{
    background-color: #049588;
    width: 100%;
    height: 100%;
    color: WHITE;
    
}
body{
    font-size: 1rem;
}
.btn-order{
    background-color: orange;
    color: white;
    border-radius: 8px;

}
.card2{
    background-color: #049588;
    width: 100%;
    height: 100%;
    color: WHITE;
    border-radius: 3px;
    
    
}

.card3{
    border: solid 1px #049588 ;
    width: 100%;
    height: 100%;


}
.icon{
    width: 100px;
    filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(56deg) brightness(117%) contrast(100%);
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(104%) contrast(101%);
}
.cardpro{
    color: red;
   border-color: #f84434 ;
    text-align: center;
    margin: 15px;
}
.carddesign{
    color: #049588;
    border-radius: #049588;
    border-color: #049588;
    text-align: center;
}
.cardmark{
    color: orange;
    border-color: orange;
    text-align: center;
}
.cardentrepre{
    color: #049588;
    border-color:#049588; 
    text-align: center;
}
.cardcoatch{
    text-align: center;
    border : solid 1px #049588;
}
.card7{
  padding-left: 30%;
  text-align: center;
  position: absolute;
  height: 50px;
}
.card9{
    
    padding-top: 50px;
    
}

.wave{
    color: white;
    background-color: #f84434;
    
    

}

.footer{
    background-color: #049588;
    color: white;
}



